<% layout('./layout/boilerplate') %> 
<style>
    .my-nav{
        display: none;
    }
    .not-found{
        height: 97vh;
    }
</style>
    <div class="d-flex flex-column justify-content-center align-items-center not-found">
        <h1>404</h1>
        <h2 class="mb-3">Nothing Found</h2>
        <a href="/home" class="btn btn-info">Back To Home Page</a>
    </div>
