<% layout('./layout/boilerplate') %>
<style>
    .my-nav{
        background-color: black;
    }
    .text{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: fit-content;
    }
</style>
<div class="text">
    <h2>Thank You For The Purchase !</h2>
    <h3>Your Order Will Be Delivered Soon.</h3>
</div>